---
import Layout from "~/layouts/Layout.astro";
import LogoCloud from "~/components/LogoCloud.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import Newsletter from "~/components/Newsletter.astro";

// Images
import slide from "~/assets/img/group-friends-planning-trip-cafe.jpg";
import itSupport from "~/assets/img/it-support.jpg";
import webDeveloper from "~/assets/img/web-developer.jpg";
import photographyMedia from "~/assets/img/photography-media.jpg";

// Todos los elementos comentados
// import newsletter from "~/assets/images/gallery/together.jpg";
// import Button from "~/components/Button.astro";
// import ReviewSlider from "~/components/ReviewSlider.astro";
// import ButtonCallUs from "~/components/ButtonCallUs.astro";
// import Badge from "~/components/Badge.astro";
// Image to remplace
// import PizzaHero from "~/assets/images/pizza-hero.png";
// import reviewAuthors from "~/assets/images/review-authors.png";
// import Mussels from "~/assets/images/mussels2.png";
---

<Layout
  title="Home"
  pageTitle="Home"
  description="Welcome to Missionary Tech Support"
>
  <Section class:list={"bg-white"}>
    <section>
      <div slot="hero-content-left" class="prose max-w-max max-lg:order-1">
        <h1 class="font-black">
          God-given talents, given back to Him through service
        </h1>
        <p>
          Connecting tech and media talents with ministry impact, empowering
          nonprofits to accelerate positive change globally. Partnering with
          nonprofit ministries around the world to provide general tech,
          web-development, photography, and media support.
        </p>
      </div>
    </section>
  </Section>

  <WideImage
    image={slide}
    alt="Group of friends helping people"
    class:list={"aspect-video lg:aspect-[16/6]"}
  />

  <Section class:list={"bg-white"}>
    <Heading>
      <h2 slot="heading-title" class="font-black text-brand-green h2">
        What We Offer
      </h2>
      <p slot="heading-content">
        We would love to support what the Lord is doing in your ministry through
        the gifts He has given us. We believe that He gave us these talents for
        two reasons: to share and to empower. We would love to share these gifts
        with your ministry and empower your team by teaching these skills that
        you may use going forward.
      </p>
    </Heading>

    <Grid>
      <div slot="grid-content-1">
        <div class="flex flex-col items-center prose text-center">
          <Picture
            class:list={"not-prose w-full h-auto gridImg"}
            src={itSupport}
            formats={["avif", "webp"]}
            alt="IT support"
          />
          <h3 class="h4 mt-0 font-black">IT Support</h3>
          <p>
            From troubleshooting to system monitoring, installation to
            configuration, our team has your back. We work to find lasting
            solutions to even the most difficult tech problems. We are happy to
            help set your nonprofit up for success by serving wherever there is
            an IT need.
          </p>
        </div>
      </div>

      <div slot="grid-content-2">
        <div class="flex flex-col items-center prose text-center">
          <Picture
            class:list={"not-prose w-full h-auto gridImg"}
            src={webDeveloper}
            formats={["avif", "webp"]}
            alt="Web Development"
          />
          <h3 class="h4 mt-0 font-black">Web Development</h3>
          <p>
            With a background in web development and coding, we would be pleased
            to design, build or maintain your ministry’s website. Whether you
            would like to add a new feature to your page, update photos, or
            create a new website altogether, we are here to help!
          </p>
        </div>
      </div>

      <div slot="grid-content-3">
        <div class="flex flex-col items-center prose text-center">
          <Picture
            class:list={"not-prose w-full h-auto gridImg"}
            src={photographyMedia}
            formats={["avif", "webp"]}
            alt="Photography and media"
          />
          <h3 class="h4 mt-0 font-black">Photography & Media</h3>
          <p>
            Storytelling is an important part of any ministry. Our team can take
            photos, write stories, and spread the word of all that God is doing
            through your work. We can give social media training, document
            testimonies in a newsletter, and aid in the crafting of fundraising
            campaigns.
          </p>
        </div>
      </div>
    </Grid>
  </Section>

  <!-- <Section class:list={"bg-white"}>
    <Hero>
      <div slot="hero-content-left" class="prose lg:order-2">
        <h1 class="font-black">Pizza</h1>

        <p>
          Pizza is a beloved dish that originated in Italy and has since become
          a global sensation. Its versatility allows for endless combinations of
          toppings, from classic margherita with fresh tomatoes, mozzarella, and
          basil, to more adventurous options like barbecue chicken or vegan
          cheese.
        </p>

        <p>
          Whether enjoyed at a cozy pizzeria or delivered to your doorstep,
          pizza brings people together and satisfies cravings like no other
          food. Beyond its delicious taste, pizza also holds cultural
          significance. It is often associated with gatherings, celebrations,
          and comfort.
        </p>

        <div class="mt-8">
          <Button url="/menu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 inline-block"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"></path>
            </svg>
            View menu
          </Button>
        </div>
      </div>
      <div slot="hero-content-right">
        <Picture
          class:list={"mx-auto"}
          src={PizzaHero}
          height={600}
          formats={["avif", "webp"]}
          alt="A description of my image."
        />
      </div>
    </Hero>
  </Section>

  <Section class:list={"bg-white"}>
    <Hero>
      <div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
        <h2 class="font-black h2 !my-4">Plate of the week</h2>

        <span class="text-brand-red text-2xl font-bold italic"
          >Fresh Mussels!</span
        >

        <p>
          Our plate of the week is a delicious dish that changes every week.
          This week, we're featuring fresh mussels cooked in a white wine and
          garlic sauce, served with a side of crispy fries. Don't miss out on
          this limited-time offer!
        </p>

        <div class="mt-8">
          <Button color="red" url="/book">Book now</Button>
        </div>
      </div>
      <div slot="hero-content-right">
        <Picture
          class:list={"mx-auto"}
          src={Mussels}
          height={600}
          formats={["avif", "webp"]}
          alt="A description of my image."
        />
      </div>
    </Hero>
  </Section> -->

  <!-- Logos -->
  <Section class:list={"bg-brand-green relative"}>
    <div class="py-0">
      <LogoCloud title="Our Partners" />
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
      preserveAspectRatio="none"
      ><path
        fill="#ffffff"
        fill-opacity="1"
        d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      class="absolute h-40 w-full bottom-0 inset-x-0"
      preserveAspectRatio="none"
      ><path
        fill="#ffffff"
        fill-opacity="1"
        d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </Section>
  

  <Section class:list={"container py-1 lg:py-1"} contain={false}>
  <!-- Desserts -->
  <!--< class:list={"bg-white"}>
    <Hero>
      <div slot="hero-content-left" class="prose max-w-none order-2">
        <h2 slot="heading-title" class="font-black text-brand-green h2 !my-4">
          newsletter sign-up
        </h2>
        <div slot="heading-content">
          <p>
            Subscribe to our newsletter to receive exclusive content and the latest updates directly in your inbox. To subscribe, simply fill out the form below with your email address, and you will receive regular updates, news, and special offers directly from our experts. Join our community today!
          </p>

          <div class="mt-8">
            <Button url="/menu">See our menu</Button>
          </div>
        </div>
      </div>

      <div slot="hero-content-right">
        <Picture
          class:list={"mx-auto"}
          src={newsletter}
          height={600}
          formats={["avif", "webp"]}
          alt="A description of my image."
        /><
      </div>
    </Hero> -->
    <Newsletter />
  </Section>
</Layout>

<style>
  .gridImg {
    border: 1px solid white;
    border-radius: 10px;
  }
</style>