---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Banner from "../components/Banner.astro";
import Grid from "~/components/Grid.astro";
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import { Img } from "@react-email/components";
const itsupport = await getCollection("itsupport");
---

<Layout
  title="Tech Support Portfolio"
  pageTitle="Tech Support Portfolio"
  description="Portfolio of Allan Mendoza"
>
  <Section class:list={"container py-1 lg:py-1"} contain={false}>
    <Banner
      titulo="Tech Support Portfolio"
    />
  </Section>

  <Section
    class:list={"container py-1 lg:py-1"}
    id="contenedor"
    contain={false}
  >
    <Grid>
      {
        itsupport.map((info) => (
            <div slot="grid-content-1">
              <article class="bg-white rounded-lg overflow-hidden transition-transform hover:scale-105">
                <Picture
                  class="w-full h-48 object-cover"
                  src={info.data.image}
                  alt={info.data.alt}
                  title={info.data.title}
              />
              <h5 class="text-xl font-bold mb-2 text-gaming-primary hover:text-gaming-secondary">
                <a href={info.data.url} title={info.data.title}>
                  {info.data.title}
                </a>
              </h5>
              <p class="text-black-600 text-sm mb-4">{info.data.description}</p>
            </article>
          </div>
        ))
      }
    </Grid>
  </Section>

  <Section
    class:list={"container py-1 lg:py-1 flex justify-center"}
    id="contenedor"
    contain={false}
  >
    <a
      class="inline-flex items-center gap-2 rounded-sm border border-green-600 bg-green-600 px-8 py-3 text-white hover:bg-transparent hover:text-green-600"
      href="/hostInfo"
    >
      <span class="text-sm font-medium"> return </span>
    </a>
  </Section>
</Layout>
