---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Banner from "../components/Banner.astro";
import Grid from "~/components/Grid.astro";
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
const photography = await getCollection("photography");
---

<Layout
  title="Photography Portfolio"
  pageTitle="Photography Portfolio"
  description="Portfolio of Kaley Mendoza"
>
  <Section class:list={"container py-1 lg:py-1"} contain={false}>
    <Banner
      titulo="Photography Portfolio"
    />
  </Section>

  <Section
    class:list={"container py-1 lg:py-1"}
    id="contenedor"
    contain={false}
  >
    <Grid>
      {
        photography.map((info) => (
          <div slot="grid-content-1">
            <a href={`/gallery/${info.data.url}`} title={info.data.title}>
            <article class="bg-white rounded-lg overflow-hidden transition-transform hover:scale-105">
              <Picture
                class="w-full h-48 object-cover"
                src={info.data.image}
                alt={info.data.alt}
                title={info.data.title}
              />
              <h5 class="text-xl font-bold mb-2 text-gaming-primary hover:text-gaming-secondary">
                  {info.data.title}
              </h5>
              <p class="text-black-600 text-sm mb-4">{info.data.description}</p>
            </article>
            </a>
          </div>
        ))
      }
    </Grid>
  </Section>

  <Section
    class:list={"container pt-20 pb-20 py-1 lg:py-1,pb-0,pt-0 flex justify-center"}
    id="contenedor"
    contain={false}
  >
    <a
      class="inline-flex items-center gap-2 rounded-sm border border-green-600 bg-green-600 px-8 py-3 text-white hover:bg-transparent hover:text-green-600"
      href="/hostInfo"
    >
      <span class="text-sm font-medium"> return </span>
    </a>
  </Section>
</Layout>