---
interface Props {
  title: string;
  excerpt: string;
  featuredImage: string;
  date: string;
  slug: string;
}
const { title, excerpt, featuredImage, date, slug } = Astro.props;
---
<article slot="grid-content-1">
  <div class="flex flex-col items-center prose text-center">
    <img
      class:list={"not-prose w-full h-auto gridImg"}
      src={featuredImage}
      alt={title}
    />
    <h3 class="h4 mt-0 font-black" set:html={title}></h3>
    <p class="text-black-700" set:html={date}></p>
    <p class="text-black-700" set:html={slug}></p>
    <p class="text-black-700" set:html={excerpt}></p>
  </div>
</article>
