---
import { Image } from "astro:assets";
// imagenes de logos
import logoTdd from "~/assets/img/organizations/logoTddTransparent.png";
import logoWr from "~/assets/img/organizations/wr-white.svg";
import logoJaf from "~/assets/img/organizations/jaf.png";
import logoSpecialOlympics from "~/assets/img/organizations/lspecialolympics.png";
import logoHouseHope from "~/assets/img/organizations/logoHouseHope.png";
const { title } = Astro.props;
---

<section class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-white">{title}</h2>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      <Image
        width="158"
        height="48"
        src={logoTdd}
        loading="lazy"
        fetchpriority="auto"
        alt="A nonprofit organization Tesoros de Dios"
        class="col-span-2 max-h-30 w-full object-contain lg:col-span-1"
      />
      <Image
        width="158"
        height="48"
        src={logoWr}
        loading="lazy"
        fetchpriority="auto"
        alt="A nonprofit organization World race"
        class="col-span-2 max-h-30 w-full object-contain lg:col-span-1"
      />
      <Image
        width="158"
        height="48"
        src={logoJaf}
        loading="lazy"
        fetchpriority="auto"
        alt="A nonprofit organization Joni and Friends"
        class="col-span-2 max-h-30 w-full object-contain lg:col-span-1"
      />
      <Image
        width="158"
        height="48"
        src={logoSpecialOlympics}
        loading="lazy"
        fetchpriority="auto"
        alt="A nonprofit organization Special Olympics"
        class="col-span-2 max-h-30 w-full object-contain lg:col-span-1"
      />
      <Image
        width="158"
        height="48"
        src={logoHouseHope}
        loading="lazy"
        fetchpriority="auto"
        alt="A nonprofit organization House of Hope"
        class="col-span-2 max-h-30 w-full object-contain lg:col-span-1"
      />
    </div>
  </div>
</section>
